@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: #000;
  /* background-color: #202020; */
  height: 500vh;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Impedir seleção de texto */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

span.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  z-index: 0;
  width: 200%;
  height: 600vh;
  background: transparent url('../assets/noise.png') repeat 0 0;
  background-repeat: repeat;
  animation: noise-animation .2s infinite;
  opacity: 0.5;
  visibility: visible;
}

@keyframes noise-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}


.app {
  position: relative;
  
}
